@font-face{ font-family: 'Gruppo-Regular.ttf';
    src: url('../fonts/Gruppo-Regular.ttf');} 
@font-face{font-family:"Pacifico-Regular.ttf";
    src: url('../fonts/Pacifico-Regular.ttf');}
@font-face{font-family: "Lobster";
    src: url("../fonts/Lobster-Regular.ttf");}
@font-face{font-family: "FugazOne";
    src: url("../fonts/FugazOne-Regular.ttf");}
@font-face{font-family: "FredokaOne";
    src: url("../fonts/FredokaOne-Regular.ttf");}
@font-face{font-family: "BreeSerif";
    src: url("../fonts/BreeSerif-Regular.ttf");}
@font-face{font-family: "BalooBhai";
    src: url("../fonts/BalooBhai-Regular.ttf");}
@font-face{font-family: "Baloo";
    src: url("../fonts/Baloo-Regular.ttf");}
@font-face{font-family: "Audiowide";
    src: url("../fonts/Audiowide-Regular.ttf");}
@font-face{font-family: "Righteous";
    src: url("../fonts/Righteous-Regular.ttf");}
@font-face{font-family: "PatuaOne";
    src: url("../fonts/PatuaOne-Regular.ttf");}
body {
	background-color: rgba(32, 53, 71, 0.137);
}

	/*
.top_bar{
    widows: 100%;
    min-width: 1050px;
    height: 40px;
    background-color: #20aae5;
    border-bottom: 0.25em solid #1894ca;
    margin: 0 0 10px 0;
    display: inline-flex;
}
*/
.top_bar{
	width: 100%;
    min-width: 940px;
    height: 50px;
	background-color: #43443F;
	border-bottom: 0.25em solid #282923;/*	#6A6B66*/
	margin: 0 0 10px 0;
	display: inline-flex;
	position: fixed;
	z-index: 10;

}
/*
.logo a{
    font-family:"Audiowide";
    margin-left: 10px;
    font-size: 30px;
    position: relative;
    top:-5px;
    color: white;
}*/
.logo a{
    font-family:"Audiowide";
    margin-left: 10px;
    font-size: 150%;
	color: #a7a7a7 !important;
	position: relative;
	top: 2px; 
    /*font-weight: bold;*/
    text-decoration: none;
	text-shadow: #000 -2px 2px 0px;
}

.top_bar .navbar{
	margin-bottom:auto;
	margin-top:auto;
	margin-right:0px;
	margin-left:auto;
}
/*
nav{
	float: right;
	right: 1px;
	position: absolute;
	margin: 10px;
}*/
.navbar a{
	position: relative;
	color: #fff;
	text-decoration: none;
	font-size: 20px;
	margin-left: 10px;
	margin-right: 10px;
	padding: 5px;
	border-left-width: 2px;
	border-left-color: #e67e22;
}
.navbar a:hover{
	color: #fff;
	font-size: 21px;
	text-decoration: none;
	border-bottom: 7px solid #e67e22;

}
.wrapper{
	margin: 0 auto;
	top: 60px;
	position: relative;
	padding: 0 10px;
	width: 75%;
	min-width:950px;
}

.column{
	background-color: #fff;
	padding: 10px;
	/*border: 1px solid #848484;
	border-radius: 5px;*/
	box-shadow: 3px 4px 6px #a7a1a1;
	z-index: -1;

}

.user_details img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 3px;
  width: 130px;
}

.user_details{
	width: 300px;
	/*float: left;*/
	margin-bottom: 20px;
}
.user_details_wrap{
	float: left;
}
.conver{
	float: left;
	width: 300px;
	max-height: 650px;
	overflow: hidden;
	min-height: 650px;
}
.conver:hover{
	overflow-y: scroll;
}
.conver h5{
	text-align: center;
	color: #b9b6b6;
}


.user_details_wrap #conversations > a{
	text-align:center;
}



.user_details_left_right{
	width:125px;
	display: inline-block;
	/*position:absolute*/
}

.main_column{
	float:left;
	width:65%;
	z-index: -1;
    min-height:150px;
	margin-left: 10px;
	margin-right: 10px;
}
.main_column h5{
	text-align: center;
}


/*
.post_form {
        display:flex
}

.post_form textarea { 
          width:100%;
          height:90px; 
}

textarea:focus{
    outline: 0;
}

.post_form input[type="submit"]{
	display:inline-block;
	width: 20%;
	border: none;
	border-radius: 10px;
	background-color: #3498db;
    font-family:cursive;
    color:#fff;
    font-size: 90%;
    outline: 0;
    margin-left:5px;
	float:right;
    
}
.post_form input[type="file"]{
	float:left;
    
}*/
/*Auto generated */
/*post form */

	#post_text{
		width:100%;
		height:100px;
	}
	
	.post_form input[type=submit]{
		right:auto;
		left:113px;
		position:static !important;
		float:right;
		height:41px;
		margin-left:-536px !important;
		width:267px;
	}
	
	.post_form input[type=file]{
		height:41px;
	}
	


#post_body{
	padding-bottom: 5px;
	text-align: justify;
}
.posts_area hr {
    margin-top: 5px;
}

.status_post{
	margin-top:10px;
	/*width: 96%;*/
	font-size: 15px;
	/*padding: 0px 5px;*/
	min-height: 75px;
}
.post_profile_pic{
	float: left;
	margin-right: 7px;
}

.post_profile_pic img{
	border-radius: 5px;
	margin-bottom: 10px;
}
/*
.postedImage img{
	
	margin-bottom:-20px;
	margin-left:30px;
	margin-right:30px;
	border-top-right-radius:8px;
	border-top-left-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
	box-shadow:1px 2px 7px -1px #0c0c0c;
}*/

.comment_iframe{
	width: 100%;
	padding-top: 10px;
	min-height: 110px;/* prevents "function toggle()" on "Post.php" from setting comment box height to too low*/
}
.comment_section img {
    padding-right: 10px;
}


#comment_form{
	margin-bottom: 0px;
}
#comment_form textarea{
	width: 85%;
}

#comment_form input[type="submit"]{
	width: 13%;
	height: 35px;
	position: absolute;
}

.newsfeedPostOptions{
	padding-left:65px;
}
.like_frame{
	border: 0;
    height: 18px;
	width: 120px;
	
}
.comment_like{
	font-size:  15px;
	border: 0;
	background-color: #fff;
	padding: 0;
	color:#007bff;
}

.like_value{
	display: inline;
	font-size: 15px;
}

.post_comment{
	margin-top: -10px;
}

#posts_area .comment_iframe{
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
	min-height:initial !important;
	max-height:500px;
}
.post_form span{
	float:left;
	clear:both;
	color:#f61212;
	margin-left:10px;
}







/*not learned */
.profile_left {
	top: -10px;
	width: 17%;
	max-width: 240px;
	min-width: 130px;
	height: 100%;
	float: left;
	position: relative;
	background-color: #37B0E9;
	border-right: 10px solid #83D6FE;
	color: #CBEAF8;
	margin-right: 20px;
	text-align: center;
}

.profile_left img {
	min-width: 80px;
	width: 55%;
	margin: 20px;
	border: 5px solid #83D6FE;
	border-radius: 100px;
}

.profile_info {
	display: list-item;
	background-color: #2980b9;
	width: 100%;
	padding: 10px 0 10px 0;
}

.profile_info p {
	margin: 0 0 0 20px;
	word-wrap: break-word;
}

.danger {
	background-color: #e74c3c;
}
.warning {
	background-color: #f0ad4e;
}
.default {
	background-color: #bdc3c7;
}
.success {
	background-color: #2ecc71;
}
.info {
	background-color: #3498db;
}
.deep_blue {
	background-color: #0043f0;
}

.profile_left input[type="submit"]{
	width: 90%;
	height: 30px;
	border-radius: 5px;
	margin: 7px 0 0 7px;
	border: none;
	color: #fff;
}


.profile_left button[type="button"]{
	margin: 7px 0 0 7px;
	position: relative;
	
}
.no_request{
	text-align: center;
}
.friend_requests h4{
	text-align: center;
}
.friend_requests{
	min-height: 800px;
	overflow-y: scroll;
	overflow-x: hidden;
}

#friend_req_list{

	border-width:3px !important;
	padding-top:9px;
	padding-right:9px;
	padding-left:9px;
	padding-bottom:0px;
	height:174px;
	margin-bottom:17px;
	background-color:rgba(188,192,193,0.19) !important;
	border-style:none;
	
	
}

#friend_req_list img{
	display:inline-block;
	width:152px;
}

#friend_req_list .texts{
	top:-152px;
	left:160.997px;
	position:relative;
	height:auto;
	box-sizing:border-box;
	width:631px;
	font-size:26.2px;
}

#friend_req_list form{
	top:-152px;
	left:161px;
	position:relative;
	width:631px;
}

@media (max-width:1745px){

	#friend_req_list .texts{
		top:-152px;
		left:161px;
		box-sizing:border-box;
		width:73%;
		height:auto;
	}
	
}

#accept_button{
	color: #fff;
	background-color: rgb(89, 177, 68); 
	border: none;
	border-radius: 5px;
	height: 35px;
    width: 25% !important;
}
#ignore_button{
	color: #fff;
	background-color: rgb(207, 73, 73); 
	border: none;
	border-radius: 5px;
	height: 35px;
    width: 25% !important;
}
/*
.delete_button{
	width: 22px;
    height: 22px;
    float: right;
	border-radius: 9px;
	
}*/
/*auto generated */
/*
#posts_area .posted_by .delete_text{
	left:auto; position:relative;
	top:auto; text-decoration:none;
	word-spacing:inherit;
	letter-spacing:inherit;
	text-transform:none;
	line-height:12.9px;
	font-size:13px;
} */
.delete_icon img{
	float: right;   
    width: 25px;
	margin-top: -25px;
	margin-right: 0px;
}
.delete_icon img:hover{
	margin-top: -27px;
	margin-right: -2px;
    width: 29px;
}	

.profile_main_column{
	min-width: 675px;
	min-height:98%;
	float:left;
	width:70%;
	z-index: -1;
	margin-left: 10px;

	
}
.postedImage img{
	width: 100%;
	clear: both;
    display: block;
    
}

#post_body iframe{
    /*margin: 5px auto;*/
	display:block;
    clear: both;
    margin: auto;
}

.search{
	margin:auto;
	
	
}


.search #search_text_input{
	/*border: thin solid #E5E5E5;*/
	float:left;
	height:36px;
	outline: 0;
	width: 60px;
}

.button_holder{
	background-color:#f1f1f1;
	border:thin solid #e5e5e5;
	cursor:pointer;
	float: left;
	height:36px;
	text-align:center;
	width:50px;
	border-radius: 3px;
	

}
.button_holder img{
	height:32px;
	margin-top:2px;
}

/*messages */


.load_messages{
	overflow-y:scroll;
	height: 72vh;
	background-color: hsla(208, 97%, 46%, 0.03);
	min-height: 300px;
	max-height: 720px;
	padding: 10px;
	margin-top: -16px;
	margin-bottom: -10px;
    box-shadow: inset 2px 3px 11px #777575;
}
.load_messages::-webkit-scrollbar-track {
    display: none;
}


.message_post input[type=submit] {
    float: right;
    width: 19%;
    margin-top: 1px !important;
    height: 51px;
	background-color: #525252;
	border:none;
    border-radius: 10px;
    font-size: 25px;
    color: white;
	font-weight: 600;
	height:82px;
}

.message_post form{
	margin-top:26px;
	height:83px;
}
#message_textarea{
	height:83px;
	width:80% !important;
}


#blue{

    float: right;
	border-width: 1px !important;
	padding-top: 5px;
	padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 25px;
    color: #ecf0f1;
    font-family:Verdana, Geneva, sans-serif;
    font-size: 20.6px;
    font-weight: 400;
    background-color: #3498db !important;
	border-radius: 20px;
	max-width: 80%;
	position:relative;
	clear:right;
	margin-bottom:4px;
	margin-top:4px;
	box-shadow: 5px 7px #888888;
}

#green{
    float:left;
	border-width: 1px !important;
	padding-top: 5px;
	padding-bottom: 5px;
    padding-right: 25px;
    padding-left: 15px;
    color: #ecf0f1;
    font-family:Verdana, Geneva, sans-serif;
    font-size: 20.6px;
    font-weight: 400;
    background-color:#607d8b !important;
	max-width: 80%;
	border-radius: 20px;
	position:relative;
	clear:left;
	margin-bottom:4px;
	margin-top:4px;
	box-shadow: 5px 7px #888888;
	
}


.load_conversations .user_found_messages img{
	width:62px;
	float: left;
}

.load_conversations .user_found_messages{
	float:left;
	display:block;
	padding-bottom:8px;
	margin-bottom:4px;
	border-bottom: solid;
	border-color: #eeeeee;
	width: 100%;
}

#conversations a:hover{
	background-color: #eeeeee;
}
#conversations a{
	opacity:1;
	clear:none;
	float:left;
	display:block;
	visibility:inherit;
	overflow-x:visible;
	width:100%;
	margin-bottom:auto;
	margin-top:auto;
	padding-top:8px !important;
	padding-bottom:12px;
	border-bottom-width:2px !important;
	border-bottom-color:rgba(32,53,71,0.137);
}

.wrapper .user_details #conversations > a{
	font-weight: 500;
    text-decoration: none;
    width: 100%;
    text-align: center;
}

/* Settings page */


.main_column table tr input[type=text]{
	min-width:300px;
}

.main_column table tr input[type=password]{
	min-width:300px;
}

.main_column table tr td{
	min-width:138px;
}

.main_column input[type=submit]{
	padding-left:6px;
}


.center_div table{
    margin-left: auto;
    margin-right: auto;
}
.center_div {
	text-align: center;
}

/* Live Search */
p#sectuser{
	font-size:22.7px;
	text-align:left;
}


.search_results a img{
	width:100px;
}

.search_results a .liveSearchProfilePic{
	width:110px;
	display:block;
	clear:both;
	float:left;
	border-style:solid;
	border-width:0px;
}

.search_results a .liveSearchText{
	float:none;
}
.liveSearchText p #username{
	font-size: 1vw;
}
.liveSearchText p #gray{
		color: #000000;
		max-width: 20px;
}

.search_results .resultDisplay{
	background-color:#ecf0f1 !important;
	float:none;
	clear:both;
	margin-bottom:5px;
	border-style:solid;
	border-width:1px !important;
	border-color:rgba(32,53,71,0.137);
	height:101px !important;
}

#search .search_results_footer{
	text-align:center;
	color:#3498db;
	text-decoration:none;
	background-color:#607d8b !important;
}

.search_results_footer a{
	color:#ffffff;
	font-size:17.4px;
	text-shadow:rgba(0, 0, 0, 0.3) 0px 1px 1px;
	font-weight:600;
}
.search_results{
	background-color:#ffffff !important;
	margin-top:36px;
	overflow-y: scroll;
    max-height: 500px;
}

/* New message live search */
.liveSearchProfilePic img{
	width: 120px;
    padding: 10px 20px 10px 10px;
	float: left;
}
.liveSearchText{
	float: left;
	padding: 10px 10px 10px 10px;
	width:299px; 
}
.liveSearchText p#resultname{
	font-weight: 400;
	font-size: 20px;
}
.liveSearchText p#grey{
	margin-top:-18px;
}
.results .resultDisplay{
	 clear:left; 
}

.message_post{
	clear: both;
}

.message_post input[type=text]{
	 margin-bottom:34px;		
	 width: 100%;
	 font-size: 22px;
}
.resultDisplay{
	height:110px;
	background-color:#ecf0f1 !important;
}
.resultDisplay:hover{
	padding-left:5px;
}

.tab-content {
	margin-top: 15px;
	margin-left: 15px;
	margin-right: 15px;
	
}

.tab-content .load_messages{
	height: 65%;
	overflow-x: hidden;
	overflow-y: scroll;
}

.tab-content .load_messages::-webkit-scrollbar {
	display: none;
}
/* Message droap down window */

.user_found_messages{
	color:#43443f;
}
.dropdown_data_window .user_found_messages img{
	width:69px;
	float: left;
	padding-right: 10px;
}

.message_dropdown{
	width: 400px;
    position: absolute;
    right: 124px;
	top: 50px;
	text-align: center;
}

.dropdown_data_window{
	/*height: 350px;*/
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(218, 218, 218);
    /*border-radius: 0px 0px 8px 8px;*/
	/*padding: 10 10 30 10;*/
	/*
    width: 300px;
    position: absolute;
    right: 124px;
	top: 50px;
	*/
	text-align: left;
	overflow-y:hidden;
	overflow-x:hidden;
}

.dropdown_data_window:hover{
	overflow-y:scroll;
}
.dropdown_data_window:focus{
	overflow-y:scroll;

}

.see_all_messages{
	background-color: #888888;
    font-variant-caps: normal;
	font-weight: 500;
	border-radius: 0px 0px 8px 8px;
}
.see_all_messages a{
	color:#ffffff !important;
}

.all_msg_txt{
	width: 100%;
}

/* changing scroll bar style */
/* width */
::-webkit-scrollbar {
	width: 15px;
  }
  
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #888; 
	border-radius: 10px;
	
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #555;
	width: 20px;
  }
  ::-webkit-scrollbar-thumb:focus {
	background: #555;
  }

  /*notification dropdown*/

  .notificationsProfilePic img{
	  width: 55px !important;
	  float: left;
	  margin-right: 15px;
	  border-radius: 80px;
  }

.timestamp_smaller{
	color: #b9b6b6;
    font-weight: 500;
}

.single_notification{
	min-height: 56px;
}

.message_dropdown hr{
	border: 1px solid #999191;
    width: 106%;
    margin-left: -10px;
    margin-right: -10px;
}

.message_dropdown .dropdown_data_window{
	background-color:#ecf0f1 !important;
}

.notification_msg{
	color: #43443f;
}
.single_notification :hover{
	background-color: white;
}

/* sidebar */
.left_side_bar{
	float: left;
	padding: 0px !important;
}

.online_friends_frame{
	padding: 0px;
}

.individual{ 
	background-color: #2980b9;
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
	margin: 4px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	box-shadow:2px 1px 3px -1px #2980b9;
	padding-bottom: 17px;
	
}
.ind_name{
	text-shadow:neon                                ;
	font-weight:600;
	color:white;
	font-style:normal;
	font-family:Arial, Helvetica, sans-serif !important;
	text-shadow:rgba(0, 0, 0, 0.3) 0px 1px 1px;
	font-size:14px;
	text-align:center;
	text-transform:capitalize;
	letter-spacing:0.7px;
	word-spacing:inherit;
}
.online_friends .individual .ind_log_time{
	color:#ffffff;
	font-size:12px;
	text-align:center;
}

.online_friends .individual .ind_act_time{
	color:#ffffff;
	font-size:12px;
	text-align:center;
}
.individual:hover{
	background-color: #009688;
}
.online_friends .individual .ind_name{
	float:none;
}

.online_friends .individual img{
	float:left;
	border-top-left-radius:18px;
	border-bottom-left-radius:18px;
	border-bottom-right-radius:3px;
	border-top-right-radius:3px;
	margin-right:8px;
	width:22%;
}
.ind_texts{
	float:left;
}
.ind_msg{
	color: white;
	font-size: 25px;
	text-align: right;
	margin: 10px;
}

#hover_scroll_y:hover{
	overflow-y:scroll;
	scrollbar-width: none;

}

.no_friend{
	font-weight:600;
	text-align:center;
	text-transform:uppercase;
	color:#e74c3c;
	font-size:18.8px;
	padding-top:250px;
}

.online_friends_frame .header{
	border-top-left-radius:4px;
	border-top-right-radius:4px;
}

/* Profile Picture Upload Page */
#formExample img{
	float:left;
	clear:none;
	margin-right:10px;
	margin-top:10px;
	margin-left:20px;
	margin-bottom:20px;
}

#formExample form{
	float:left;
	padding-left:0px;
	margin-left:31px;
	margin-top:10px;
	margin-bottom:10px;
	height:160px;
	width:511px;
}
.cancel_button{
	clear: left;
    text-align: center;
}
.cancel_button button{
	min-width:0px;
	width:205px;
	height:64px;
	border-bottom-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-right-radius:20px;
	border-top-left-radius:20px;
	font-weight:700;
	box-shadow:7px 2px 24px -1px #bf1c06 inset;
	background-size:cover;
	background-position:0% 0%;
	font-size:31.7px;
	font-family:Arial, Helvetica, sans-serif;
	color:#ffffff;
	background-color:#b42b21 !important;
	text-shadow:rgba(0, 0, 0, 0.3) 0px 1px 1px;
}
.cancel_button button:hover{
	background-color:#ff3d23 !important;
}
#formExample img{
	width:150px;
	height:150px;
}










